@charset "utf-8";
/* CSS Document */
aside,div,artical{
	display:inline;
}
body{
	background-image: url(./img/background.jpg);
}
li {
	list-style-type:none;
}
.top{
	position:sticky;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	top:0px;
	height:50px;
	background-color: #C0BFBF;
}
.nav-item{
	font: 14px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
	float: left;
    text-align: center;
    line-height: 50px;
    height: 50px;
    position: relative;
}
.top-menu{
	display: inline;
}
.div-top{
	float:right;
	width: 30%;
}
.usrinfo{
	height:30px;
	margin-top:10px;
	border-radius:25px;
}
.main-body{
	margin-top:0;
	margin-left:100px;
	margin-right:100px;
	width:90%;
	height:100%;
	/*
	padding-left:100px;
	background-color: wheat;
	border-style: ridge;
	border-width: medium;
	border-color: black;
	border-radius:15px;
	*/
}
.menu{
	background-color: #1B1B1B;
	position:sticky;
	top:50px;
	/*width:100%;*/
	height:100%;
	left:0px;
}
.menu-button{
	height:60px;
	border-style: outset;
	border-radius:5px;
	margin-bottom:10px;
	margin-left:50px;
}
#imgCanvas{
	width:639;
	height:405px;
}
#p{
	margin-left:20%;
	margin-right:20%;
	height:300px;
}
#picture{
	padding-left:10px;
	padding-right:10px;
	margin-left:20%;
	width:60%;
	height:300px;
	background-color: red;
}
#news{
	padding:5px;
	margin-left:20%;
	width:30%;
	height:500px;
	background-color:#D9D7D7;
	float:left;
	border-radius:15px;
}
#post{
	padding:5px;
	width:30%;
	height:500px;
	background-color: green;
	float:left;
	border-radius:15px;
}

